@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
INNEHÅLLSFÖRTECKNING

1. ROOT-SETTINGS
2. BACKGROUND IMG
3. HAMBURGER-MENU
4. INDEX.HTML MAIN-SECTION
5. GAMESITE
6. RESULT
7. SUGGEST-PAGE
*/

/* 1. ROOT-SETTINGS */

* {
        font-family: Roboto, sans-serif, Helvetica;
        box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* 2. BACKGROUND IMG */

.index {
    background-image: linear-gradient(rgba(0, 6, 17, 0.7), rgba(0, 6, 17, 0.7)), url(/img/bastian_riccardi.jpg);
}

.other {
    background-image: linear-gradient(rgba(0, 6, 17, 0.5), rgba(0, 6, 17, 0.5)), url(/img/pramod_tiwari_unsplash.jpg);
}

/* 3. HAMBURGER-MENU */

.burger-meny {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2rem;
    margin-top: 2vh;
    margin-left: 2vh;
}

.bar {
    width: 100%;
    height: 6px;
    background-color: white;
    border-radius: 5px;
}

ul {
    display: none;
}


.dropdown {
    border: #ffffff00 1px solid;
    width: fit-content;
    height: fit-content;

}

.dropdown:hover {
    max-width: fit-content;
    height: fit-content;
    background-color: #fefefeee;
    border-radius: 4px;
    transition: 0.2s;

}

.dropdown:hover ul {
    display: flex;
    flex-direction: column

}

.dropdown > ul > li {
    padding: 3vh 5vw;
    list-style: none;
    text-decoration: none;
}

.dropdown > ul > li:hover {
    background-color: #e6e6e6ee;
    padding: 4vh 5vw;
    transition: 0.2s;
}

/* 4. INDEX.HTML MAIN-SECTION */

.welcome-section {
    color: white;
    text-align: left;
    margin-left: 15vw;
    margin-right: 15vw;
}

.welcome-section > h1 {
    font-size: 5rem;
    line-height: 10vh;
    margin: 10vh 10vw 10vh 13vw;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;

}

.flex-content {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 6, 17, 0.7);
    border-radius: 20px;
    font-size: 1.6rem;
    margin-left: 3vw;
    margin-right: 3vw;
}

.flex-content > h2 {
    margin-left: 1vw;
    margin-right: 2vw;
}

#flex-content-3 {
    background-color: rgba(0, 0, 0, 0.0);
    max-width: 200px;
}

img {
    margin-top: 1vh;
    max-width: 130px;
}

@media screen and (max-width: 1200px) {

    .welcome-section > h1 {
        font-size: 2.5rem;
        line-height: 10vh;
        margin: 5vh 5vw 0vh 7vw;
    }

    .flex-content {
        width: 150px;
        height: 150px;
        background-color: rgba(0, 6, 17, 0.7);
        border-radius: 20px;
        font-size: 1rem;
        margin: 1.5vh 3vw 0 3vw;
    }

    .flex-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



}




/* 5. GAMESITE */

.game-section {
    color: #ffffff;
}

.quote-container {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-rows: auto auto 1fr;
}

#count-down {
    display: flex;
    justify-content: center;
    width: 4vw;
    height: 4vh;
    background-color: #000611;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-top: 3px;
    margin-right: 1vw;
    grid-column: 2;
    grid-row: 1;
}

#quote {
    font-size: 1.8rem;
    grid-column: 3/5;
    grid-row: 1;
}

#quoter-line {
    background-color: #ffffff;
    width: 1.2vw;
    height: 0.6vh;
    border-radius: 1.5px;
    grid-column: 4;
    grid-row: 2;
}

#grid-box {

    width: 1vw;
    height: 3vh;
    grid-column: 3;
    grid-row: 3;
}

.img-container {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    grid-column: 5;
    grid-row: 1/4;
}

#quoter-hidden {
    width: 7vw;
    height: 7vh;
    grid-row: 3;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-style {
    width: 10vw;
    height: 5vh;
    background-color: #C28323;
    color: #ffffff;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    margin: 1vh 1vw;
}

/* 6. RESULT */

#result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-section h2, p {
    color: #ffffff;
}

.result-section h2 {
    font-size: 4rem;
    margin-bottom: 0;
}

.result-section p {
    font-size: 3.5rem;
}

#play {
    width: 6rem;
}

#party {
    margin-top: 10vh;
    margin-left: 3vw;
}

/* SUGGEST-PAGE */

.suggest-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.suggest-text {
    width: 25vw;
}

.suggest-text > h3 {
    font-size: 5rem;

    margin-bottom: 0;
}

.suggest-text > p {
    font-size: 1.3rem;
    margin-top: 2vh;
}

#form {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10vh;
}


#form > label {
    margin-top: 2vh;
}

#form > textarea {
    background-color: lightgrey;
    margin-top: 1vh;
    border: none;
    border-radius: 3px;
}

#form > input {
    background-color: lightgrey;
    margin-top: 1vh;
    height: 3vh;
    border: none;
    border-radius: 3px;
}


#form > button {
    font-weight: 600;
    font-size: 1rem;
    color: white;
    background-color: #C28323;
    border: none;
    border-radius: 4px;
    width: 140px;
    height: 40px;
    margin-top: 2vh;
}

#quoterError {
    color: red;
    display: none;
}

#quoteError {
    color: red;
    display: none;
}
/* FOOTER */

footer {

    display: flex;
    background-color: rgba(0, 6, 17, 0.7);
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0;

}

footer > p {
    color: white;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1.2rem;
    font-weight: bold;
}
